

#footer {
    background-color: #353534;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #05f319;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

.social-icons a {
    color: white;
    
    padding-right: 30px;
}

#footer .social-icons {
    font-size: 30px;
    color: white;
}