@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");

#secondary {
  background-color: white;
  font-family: "Comfortaa", cursive;
}

#secondary .title {
  font-family: 'Comfortaa';
  display: flex;
  text-align: center;
  font-weight: 800;
}


#secondary .content p span {
  font-size: 70px;
  background-color: rgba(235, 69, 146, 1);
  background-image: linear-gradient(
    90deg,
    rgba(235, 69, 146, 1) 50%,
    rgba(77, 198, 225, 1) 50%
  );
  background-clip: text;
  text-fill-color: transparent;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#secondary .title {
  text-align: center;
}

#secondary .title span {
  margin-left: 10px;
}

#secondary .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contentImage{
  margin-top: 50px;
  height: 500px;
  border-radius: 25px;
  width: 500px;
}

#secondary .content p {
  font-size: 35px;
  margin-top: 50px;
  line-height: 60px;
  width: 50vw;

}



#secondary p span {
  font-size: 46px;
}

#pink {
  color: rgba(235, 69, 146, 1);
}

#blue {
  color: rgba(77, 198, 225, 1);
}
