.join {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.joinContent {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.joinContent p {
  padding-top: 50px;
  /* text-align: center; */
  font-size: 35px;
  line-height: 50px;
}

.joinContent a {
  text-decoration: none;
  background-color: rgba(235, 69, 146, 1);
  background-image: linear-gradient(
    90deg,
    rgba(235, 69, 146, 1) 50%,
    rgba(77, 198, 225, 1) 50%
  );
  padding: 10px;
  margin-top: 30px;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: 50px;
  width: 50%;
  transition: 0.5s ease-in-out;
}


