header {
  background-color: rgb(244, 244, 244);
  width: 100vw;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  background-color: rgba(235, 69, 146, 1);
  background-image: linear-gradient(
    90deg,
    rgba(235, 69, 146, 1) 50%,
    rgba(77, 198, 225, 1) 50%
  );
  background-clip: text;
  text-fill-color: transparent;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 40px;
}

.logo:hover {
  color: #4dc6e1;
}

.navigation a {
  color: #4dc6e1;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  transition: 0.5s ease;
}

.navigation a:hover {
  color: #eb4592;
}


